<!DOCTYPE html>
<html>
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/navbar :: common-navbar" />

	<div class="container">
		<!-- Error and Logout section -->
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center">
				<div th:if="${mailSent != null}"
					class="alert alert-success alert-dismissable" role="alert">
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">x</span>
					</button>
					<p th:text="#{forgotmypassword.message.sent.success}"></p>
				</div>
			</div>
		</div>

		<!-- Login form -->
		<div class="row">
			<div class="col-md-6 col-md-offfset-3">
				<h1 class="text-center"
					th:text="#{forgotmypassword.fill.in.form.below}"></h1>
				<br />
				<div class="well">
					<!-- Login form -->
					<form id="forgotPasswordForm" th:action="@{/forgotmypassword}"
						method="post" role="form">
						<!-- User email -->
						<div class="form-group">
							<label for="email" th:text="#{form.email}"></label> <input
								type="email" class="form-control" id="email" name="email" />
						</div>
						<!-- Submit -->
						<div class="form-group">
							<button type="submit" class="btn btn-primary"
								th:text="#{forgotmypassword.submit.text}"></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="common/header :: before-body-scripts"></div>
</body>
</html>